
@media screen and (max-width: 600px){
 .box_post{
	width:100%;	
	margin-top: -22px;
}

.recents{
	margin: 0 !important;
}

}

@media screen and (min-width: 600px){
 .box_post{
	width:90%;	
	margin:3% auto;
}
}

.box_post{
	/*display: flex;*/
	/*height:100%;*/
	text-align: center;
	/*margin-top: -22px;*/
}

.content_post{
    padding:5%;
    text-align: left;
	background: #ffffee;
	color: #556655;
	padding-bottom: .5%; 
}

.content_post h2{
	padding: 0 0 2%;
	margin-bottom: 2%;
	color: #4499cc;
	font-size:	2em;
	border-bottom: 10px double #668855;
}

.content_post p{
	font-size:	1.1em;
	text-indent: 2em;
	margin-bottom: 2%;
	line-height: 1.4em;
}

.content_post ul a{
	/*color:#99aaaa;*/
	color:#668855;
	text-decoration: none;
	font-weight: 350;
	font-size: 1.1em;
}

.content_post ul a:hover{
	/*color: #4499cc;	*/
	color: #556655;
}

.content_post ol{
	list-style-position: inside;
	margin: 0 0 0 2em;
    margin-bottom: 2%;
    line-height: 1.4em;
	background: #ccccbb;
	padding:2% 7%;
	color: #000;
}

.content_post blockquote{
	background: #ccccbb;
	padding:2% 7%;
	margin: 3% 0;
	color: #000;
}

.content_post blockquote p{
	text-indent: 0;
	padding:2%;
	margin-bottom:0;
	line-height: 1.5em;
}

p .icon-quotes-left{
	position: relative;
	top:0;
	left:-8%;
}

.icon-quotes-right{
	position: relative;
	top:0;
	right:-8%;
}

div.source, div.quotes-right{
	text-align: right;
    padding: 0 2% 2%;
}

.recents{
	background: #ffffee;
	margin: 5% auto;
	padding: 5%;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.recent{
	border-left: solid 5px #99aaaa;
	text-align: left;
	background: #ccccbb;
	padding: 5%;
	flex-grow: 1;
}

.similar{
	padding-bottom: .5% !important;
}

.recent h2{
	margin-bottom: 2%;
	font-weight: 700;
}


.recent ul li{

	margin-bottom: .5%;
}

.recent ul a{
	color: #556655;	
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 550;
	padding:1%;
}


.recent ul a:hover{
	color: #668855;	
}

.page{
	background: #ffffee;
	padding: 1% 5% 5% !important;
	border-top: unset !important;
}

.page{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    flex-wrap: wrap;
}

.page a{
	padding: 0.8% 5% !important;
}

.page div{
	flex-grow: 1;
	padding: 1.5% 1%;
}

.page div.left{
	text-align: left;
}

.page div.right{
	text-align: right;
}

.date{
	font-size: 1.1em;
	/*color:#000;*/
	text-align: right;
}