*{
	margin: 0;
	padding: 0;
}

html,body{
	/*height:100%;*/
	height:100%;
}

::selection
{
	background:#bbcccc;
	color:#ffffee;
}

::-moz-selection
{
	background:#ff0000;
	color:#ffffee;
}

.nav_post{
	text-align: right;
}

.nav_post a{
	color: #668855 !important;
    text-decoration: none;
    font-size: 1.1em !important;
    font-weight: 550 !important;
    padding: 1% !important;
}

.nav_post a:hover{
	color: #556655 !important;
}


@media screen and (max-width: 600px){
 .box{
	width:100%;	
}

body{
	background: #ffffee;
}

}


@media screen and (min-width: 600px){

body{
	background: #bbcccc;
}
 .box{
	width:90%;
	max-width: 900px;
	margin:0% auto;
}
.intro{
	margin:5% auto;
}
.contact{
    margin:5% auto;

}
}

.box{
	/*display: flex;*/
	/*height:100%;*/
	text-align: center;
	margin-top: -22px;
}

.nav{
	/*display: none;*/
}

ul{
	list-style: none;
}

.intro{
	width:100%;
	height:20%;
	/*max-height: 150px;*/
	overflow: hidden;
	/*background: #ffffee;*/
	/*background: url('../imgs/introBg.jpg') center;*/
}

.intro_content{
	text-align:right;
}

/*
@media screen and (min-width: 800px){
	.intro{		
	background: url('../imgs/introBg.jpg') center;
	background-size: cover !important;
	}
	#introBg{
		width:100%;
		opacity: 0;
	}
} 

@media screen and (max-width: 800px){
	.intro{		
	background: url('../imgs/introBgM.jpg');
	background-size: contain !important;
	}
} 



@media screen and (min-width: 700px) and (max-width: 800px){
	#introBg{
		height:380px;
		opacity: 0;
	}
} 

*/

#introBg{
	width:100%;
	display: block;
	/*opacity: 0;*/
}

.content{
    padding:5%;
    text-align: left;
	background: #ffffee;
	color: #556655;
}

.content h1{
   padding:3% 0;
   color: #888866;
   border-bottom: 3px solid #668855;
}

.synopsis{
	list-style-type: none;
    padding: 2% 1%;
	border-top: 1px dashed #668855;
}

.synopsis h2{
padding: 1% 0;
}

.author{
   color: #888866;
}

.excerpt{
	color:#556655;
	padding:1% 0;
}

a.exc{
	color:#556655;
	text-decoration: none;

}

div.tags{
	padding: 1% 0;
    margin: 1% auto;
}

a.tag{
	/*
	background: #888866;
	color:#fff;	
	*/
	background: rgba(255,255,238,0.5);
	color: #668855;
	border: 1px rgba(0,0,0,0.3) solid;
	padding: 0.7% 1.7%;
	text-decoration: none;
	border-radius: 8px;
	transition:all 0.7s;
}

a.tag:hover{
	/*background: #668855;	*/
	background: #ffffc9;

}

.synopsis a.tit{
    text-decoration: none;
    color:#99aaaa;
	transition:all 0.7s;
}

.synopsis a.tit:hover{
	color:#4499cc;
}

.contact{
	height:20%;
	/*min-height:100px;*/
    padding:5%;
    background: #ffffee;
	/*background: #d3d3d3;*/
	/*background: #556655;*/
	/*background: #99aaaa;*/
}

.contact a{
	text-decoration: none;
	margin: 0.5%;
	transition:all 0.7s;
}

.contact a:hover{
	color:#4499cc;
	/*color:#fff;*/

}

[class^="icon-"], [class*=" icon-"] {
	font-size: 2em;
	color:#99aaaa;
	/*color: #556655;*/
}

