*{
	margin: 0;
	padding: 0;
}

html,body{
	/*height:100%;*/
	height:100%;
}

body{
	background: #bbcccc;
}

.box{
	/*display: flex;*/
	width:90%;
	/*height:100%;*/
	text-align: center;
	margin:0% auto;
}

.nav{
	/*display: none;*/
}

ul{
	list-style: none;
}

.intro{
	width:100%;
	height:20%;
	/*max-height: 150px;*/
	overflow: hidden;
	margin:5% auto;
	/*background: #ffffee;*/
	/*background: url('../imgs/introBg.jpg') center;*/
}

.intro_content{
	text-align:right;
}

/*
@media screen and (min-width: 800px){
	.intro{		
	background: url('../imgs/introBg.jpg') center;
	background-size: cover !important;
	}
	#introBg{
		width:100%;
		opacity: 0;
	}
} 

@media screen and (max-width: 800px){
	.intro{		
	background: url('../imgs/introBgM.jpg');
	background-size: contain !important;
	}
} 



@media screen and (min-width: 700px) and (max-width: 800px){
	#introBg{
		height:380px;
		opacity: 0;
	}
} 

*/

#introBg{
	width:100%;
	/*opacity: 0;*/
}

.content{
    padding:5%;
    text-align: left;
	background: #ffffee;
	color: #556655;
}

.content h1{
   padding:3% 0;
   color: #888866;
}

.synopsis{
	list-style-type: none;
    padding: 2% 1%;
	border-top: 1px dashed #668855;
}

.synopsis h2{
padding: 1% 0;
}

.author{
   color: #888866;
}

.excerpt{
	color:#556655;
	padding:1% 0;
}

a.exc{
	color:#556655;
	text-decoration: none;

}

div.tags{
	padding: 1% 0;
    margin: 1% auto;
}

a.tag{
	background: #888866;
	padding: 0.7% 1.7%;
	color:#fff;	
	text-decoration: none;
	border-radius: 8px;
}

a.tag:hover{
	background: #668855;	
}

.synopsis a.tit{
    text-decoration: none;
    color:#99aaaa;
}

.synopsis a.tit:hover{
	color:#4499cc;
}

.contact{
	height:20%;
	/*min-height:100px;*/
    padding:5%;
    margin:5% auto;
    background: #ffffee;
	/*background: #d3d3d3;*/
	/*background: #556655;*/
	/*background: #99aaaa;*/
}

.contact a{
	text-decoration: none;
	margin: 0.5%;
}

.contact a:hover{
	color:#4499cc;
	/*color:#fff;*/

}

[class^="icon-"], [class*=" icon-"] {
	font-size: 2em;
	color:#99aaaa;
	/*color: #556655;*/
}

.icon-zcool{
	content: 'Z';
}
