<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
    <!-- <base target="_blank" /> -->
    <link rel="apple-touch-icon" href="{{ site.url }}/{{ site.baseurl }}/imgs/logo.png">
    <link rel="icon" sizes="32x32" type="image/png" href="{{ site.url }}/{{ site.baseurl }}/imgs/logo.png">
    <link rel="shortcut icon" href="{{ site.url }}/{{ site.baseurl }}/imgs/logo.png">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.baseurl }}/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.baseurl }}/css/tip.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.baseurl }}/css/post.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.baseurl }}/css/fonts/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.baseurl }}/css/popup.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.baseurl }}/css/magnific-popup.css">
    <script src="{{ site.url }}/{{ site.baseurl }}/js/echarts/echarts.min.js"></script>
    <script data-ad-client="ca-pub-2729616959486829" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
　　<title>{{ page.title }} | TA行动</title>
</head>
<body>

